
<label>Sever Name</label>

<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->

<input type="text" class="form-control" 
[(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->

<button 
[disabled]="!allowNewServer" 
(click)="onCreateServer()"
class="btn btn-primary">Add Server</button>

<p>{{serverCreationStatus}}</p>

<input type="text"
[(ngModel)]="userName"
>

<!-- <button [disabled] = "!checkUserName()" (click)="resetUserName()">Click</button> -->
<!-- <button [disabled] = "!checkUserName()" (click)="userName === ''">Click</button> -->

<button [disabled] = "userName === ''" (click)="userName = ''">Click</button>

<p>{{userName}}</p>
